.git
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Dockerfile
.dockerignore

data/*
!data/AIWS/
data/AIWS/*
!data/AIWS/000/
!data/AIWS/000/**

results/*
!results/ckpts/
!results/ckpts/**

results/evaluation_results/
results/infer_res/
